@import './reset.scss';

.main {
    width: 100%;
    // min-height: 100vh;
    background: $darkGrey;
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include desktop() {
        // flex-direction: row;
        width: 100%;
        // justify-content: space-around;
    }
}

.footer {
    // justify-self: flex-end;
}