@import './reset.scss';
.container {
    @include desktop() {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
    // *** ANY ADJUSTMENT HERE MEANS ADJUSTMENT TO pageContent and bannerText
        width: 20%;
        height: 100vh;
        justify-content: center;
        margin-top: 200px;
        ul {
            list-style: none; 
            font-size: 2rem;
            display: flex;
            flex-direction: column;
            height: 100%;
            // justify-content: space-evenly;
            li {
                margin: 30px 0;
                padding-left: 10px;
                border-left: 3px solid $orange;
                transition: 0.4s;
                &:hover {
                    border-left: 13px solid $orange;
                    padding-left: 0;
                }
                h2 {
                    a {
                        color: $white;
                        text-shadow: 2px 2px 2px $black;
                        text-decoration: none;
                    }
                    
                }
            }
            // h2 {
            //     text-shadow: 2px 2px 2px $black;
            //     color: $white;
            // } 
        }
    }
    display: none;
}