@import './reset.scss';
.navContainer {
    position: fixed;
    width: 100%;
    z-index: 98;
    // top: 0;
    // left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logoContainer {
    @include desktop() {
        width: 30%;   
        // position: absolute;
        // top:0;
        // z-index: 99; 
        display: flex;
        justify-content: center;
    }
    @include tablet() {
        width: 30%;
    }
    width: 50%;
    display: flex;
    justify-content: center;
}
.hamburgerDiv {
    @include desktop() {
        display: none;
    }
    margin: 10px;
}