@import './reset.scss';

.container {
    width: 100%;
    // position: relative;
    z-index: 99;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 35%;
    animation: popUpFadeM 10s;
    @include desktop() {
        // width: 70%;
        animation: popUpFade 10s;
        // top: 30px;
        // left: 160px;
    }
    
}
@keyframes popUpFade {
    0% { opacity: 0;  top: 1000px;}
    50% { opacity: 1; top: 35%;}
}
@keyframes popUpFadeM {
    0% { opacity: 0;  top: 600px;}
    50% { opacity: 1; top: 35%;}
}
.noContainer {
    display: none;
}
.centerDesktop {
    @include tiny() {
        width: 100%;
    }
    display: flex;
    justify-content: center;
    @include desktop() {
        position: absolute;
        width: 80%;
        // left: 350px;
        display: flex;
        justify-content: center;
    }
}
.desktopSpacer {
    display: none;
    @include desktop() {
        display: flex;
        width: 20%;
    }
    
}
.popUp {
    background: $orange;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
    border: 1px solid $white;
    width: 90%;
    p {
        color: $white;
        text-shadow: 2px 2px $darkGrey;
        font-size: 1.5rem;
        text-align: center;
        padding: 10px;
    }
    @include desktop() {
        width: 50%;
        box-shadow: 4px 4px $darkGrey;

        p {
            font-size: 2rem;
            width: 100%;

        }
    }
}
.buttonStyle {
    padding: 5px;
    width: 25%;
    box-shadow: 2px 2px $darkGrey;
    border-radius: 5px;
    border-top: 2px solid $white;
    border-left: 2px solid $white;
    border-bottom: none;
    border-right: none;
    color: $darkGrey;
    margin-bottom: 10px;
    background-color: $lightGrey;
    color: $white;
    text-shadow: 1px 1px 1px $darkGrey;
    @include desktop(){
        width: 20%;
        margin: 10px;
        font-size: 1.3rem;
        transition: 0.4s;
        &:hover {
         width: 26%;  
         color: red; 
        }
    }
}